html {
	--primary-color: #d9b3ff;
	--secondary-color: #7300e6;
	--accent-color: turquoise;
	--background-color: yellow; /* azure */
}

html, body {
	position: relative;
	margin: 0;
	padding: 0;
}

body {
	background-color: var(--background-color);
	font-family: "Raleway", sans-serif;
}

h1 {
  font-weight: 300;
  color: var(--accent-color);
}

h2 {
  color: var(--secondary-color);
}
